<!-- 
Written by: Divyanshu Kalola and Dhruv Kuncha
Date: Saturday, January 14, 2023

You are not requred to share this code and use it without permission. 
Please contact ******* dksquare2313@gmail.com ******* for further information. 
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  

  <title>Barber Shop</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/tab_logo.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">



  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Selecao - v2.2.0
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->


  <style>
    #editform{
      display: none;
    }
    #appointmentform{
      display: none;
    }
    #edithours{
      display: none;
    }
  </style>
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html">A Shaving Grace</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
       <img src="static/img/logo.png" alt="" class="img-fluid">
      </div>

      <nav class="nav-menu d-none d-lg-block">
     
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero_bio" class="d-flex flex-column justify-content-end align-items-center" >
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active text-left">
        <div class="carousel-container ">
             <h2 class="animate__animated animate__fadeInDown">Vida Humphries (Blue)</h2>
        </div>
      </div>



    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

    <main id="aboutme">

        <section class="about">
            <div class="container">
                <div class="section-title" data-aos="zoom-out">
                    <h2>Profile</h2>
                    <p>About me</p> 
                    <br>

                    <div class="row">
                        <div class="col-sm">
                            <h5>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg> 
                                &ensp; Vida Humphries (Blue)</h5>
                            <h5>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                                    <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
                                    <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
                                </svg>
                                 <a href="mailto:vida@ashavinggrace.net">&ensp;vida@ashavinggrace.net</a> </h5>

                            <h5>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                </svg>
                                <a href="tel:+123456789">&ensp; +1(713) 820-8200</a> </h5>
                            </h5>
                            <h5 class="mb-5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                  <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                  <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                                </svg>
                               <a href="https://www.pnc.com/insights/small-business/growing-your-business/getting-to-know-vida-humphries.html">&ensp; Mall Barbershops Capitalize on Foot Traffic</a>
                            </h5>
                        </div>

                        <div class="col-sm-7">
                            <h5>
                               
                            &ensp; Vida Humphries (Blue) is the Founder and CEO of the A Shaving Grace Barbershops. He started cutting hair when he was just 11 years old, practicing on his little brother and friends in the Chicago neighborhood where he grew up. He had been fascinated by the barbershop experience since having his hair cut at his cousin’s barbershop as a child. By the time he was 13, Humphries had no doubt where his career path was headed.
                            </h5>
                            <h5>
                            &ensp;  Humphries’ next epiphany came at 18, when he saw a crowd of people waiting in line to get haircuts at a barbershop in his local mall. He recognized a formula for success. Today, Humphries’ A Shaving Grace Barber Shops serve 20,000 customers a month in nine mall locations in Greater Houston, Texas, and Madison, Wisconsin, with more expansion plans in the works.
                            </h5>
                        </div>

                    </div>
                </div>
            </div>

        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>

<script>
var decodedUrl=atob("d3d3LmFzaGF2aW5nZ3JhY2UubmV0");console.log(decodedUrl);if(decodedUrl!==window.location.host){document.documentElement.removeChild(document.head);document.documentElement.removeChild(document.body);document.documentElement.innerHTML="<h1><b>Not Authorised</b></h1><h2><b>Please delete the file and the code.</b></h2><p>This code is <u> maintained </u> by <b> Divyanshu Kalola </b> and <b> Dhruv Kuncha </b> and a property of <a href='https://bootstrapmade.com/'>Bootstrap Made</a>. If you are looking for the similar design please visit the Bootstrap Made.</p><p>You are not allowed to share this code without permission. You downloaded this piece of code without authorization.</p><p> <b>NOTE: </b> If you see this message by mistake contact <a href='mailto:dksquare2313@gmail.com'>dksquare2313@gmail.com</a> </p>";}else{}
</script>


        <!-- ======= Location Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Locations</h2>
          <p>Our Locations</p>
          
        </div>

       <div class="row"  data-aos="fade-right" data-aos-delay="300">
        
        <div class="col-sm card mr-sm-3  location_item">
          <div class="card-body">
              <h3 style="letter-spacing: 2px;">Deerbrook</h3>
              <p >20131 Hwy 59 N Ste.2232 Houston, TX,77338</p>
              <div class="row">
                <div class="col-1">
                  <i class="icofont-phone"></i>
                </div>
                <div class="col"> <p >+1 (346) 323-7284</p></div>
              </div>
             <i class="icofont-google-map"></i>
              <a href="https://www.google.com/maps/place/Deerbrook+Mall/@30.0094843,-95.2724282,17z/data=!3m1!4b1!4m5!3m4!1s0x8640b301d8d317f9:0x8d9b17e738294008!8m2!3d30.0094843!4d-95.2702395" target="_blank" >Directions</a>
          </div>

        </div>

        <div class="col-sm card mr-sm-3 location_item ">
          <div class="card-body">
            <h3 style="letter-spacing: 2px;">Willowbrook</h3>
            <p >22000 Willowbrook Mall. Suite 1434 Houston, TX 77070</p>
            <div class="row">
                <div class="col-1">
                  <i class="icofont-phone"></i>
                </div>
                <div class="col"><p >+1 (832) 604-7626</p></div>
              </div>
            <i class="icofont-google-map"></i>
            <a href="https://www.google.com/maps/place/22000+Willowbrook+Mall+%231434,+Houston,+TX+77064/@29.9592077,-95.5445358,17z/data=!3m1!4b1!4m5!3m4!1s0x8640cde79f1586f7:0x3e365474907f29cf!8m2!3d29.9592031!4d-95.5419555" target="_blank">Directions</a>
          </div>

        </div>

        <div class="col-sm card mr-sm-3 location_item ">

          <div class="card-body">
            <h3 style="letter-spacing: 2px;">Woodlands</h3>
            <p >1201 Lake Woodlands Dr. Suite 2192 Spring, TX 77584</p>
            <div class="row">
                <div class="col-1">
                  <i class="icofont-phone"></i>
                </div>
                <div class="col"><p >+1 (832) 604-7626</p></div>
              </div>
            <i class="icofont-google-map"></i>
            <a href="https://www.google.com/maps/search/1201+Lake+Woodlands+Dr.+Suite+2192+Spring,+TX+77584/@30.1453474,-95.4773212,14z/data=!3m1!4b1" target="_blank">Directions</a>
          </div>

        </div>

        <div class="col-sm card  location_item">
          <div class="card-body">
              <h3 style="letter-spacing: 2px;">Pearland</h3>
              <p >1201 Broadway St. Suite 625 Pearland, TX 77584</p>
              <div class="row">
                <div class="col-1">
                  <i class="icofont-phone"></i>
                </div>
                <div class="col"><p >+1 (281) 727-6628</p></div>
              </div>
              <i class="icofont-google-map"></i>
              <a href="https://www.google.com/maps/place/1201+Broadway+St+%23625,+Pearland,+TX+77581/@29.5432019,-95.2243186,17z/data=!3m1!4b1!4m5!3m4!1s0x86409a8145986c7d:0xf728e0501e4ac3f2!8m2!3d29.5431973!4d-95.2217383" target="_blank" >Directions</a>
          </div>

        </div>
       </div>

       <div class="row my-sm-5"  data-aos="fade-right" data-aos-delay="300">
          <div class="col-sm card mr-sm-3  location_item">
            <div class="card-body">
              <h3 style="letter-spacing: 2px;">Memorial City</h3>
              <p >303 Memorial City Way. Suite 776 Houston, TX 77024</p>
              <div class="row">
                <div class="col-1">
                  <i class="icofont-phone"></i>
                </div>
                <div class="col"><p >+1 (346) 330-9641</p></div>
              </div>
              <i class="icofont-google-map"></i>
              <a href="https://www.google.com/maps/place/303+Memorial+City+Way+STE+776,+Houston,+TX+77024/@29.7814954,-95.5426026,17z/data=!3m1!4b1!4m5!3m4!1s0x8640c4963d242aa1:0xf951a5437164fcf0!8m2!3d29.7814908!4d-95.5400223" target="_blank">Directions</a>
            </div>

          </div>

           <div class="col-sm card mr-sm-3  location_item">
            <div class="card-body">
              <h3 style="letter-spacing: 2px;">First Colony</h3>
              <p >16535 Southwest Freeway. Suite 815 Sugarland, TX 77479</p>
              <div class="row">
                <div class="col-1">
                  <i class="icofont-phone"></i>
                </div>
                <div class="col"><p >+1 (281) 980-9983</p></div>
              </div>
              <i class="icofont-google-map"></i>
              <a href="https://www.google.com/maps/place/16535+Southwest+Fwy+Suite+815,+Sugar+Land,+TX+77479/@29.5924949,-95.6280762,17z/data=!3m1!4b1!4m5!3m4!1s0x8640e6bd7e8a0279:0x9bdba0d9501551bb!8m2!3d29.5924903!4d-95.6254959" target="_blank" >Directions</a>
            </div>

          </div>

           

          <div class="col-sm card  location_item">
            <div class="card-body">
              <h3 style="letter-spacing: 2px;">West Towne Mall</h3>
              <p >66 W Towne Mall Space C-4, Madison, WI 53719</p>
              <div class="row">
                <div class="col-1">
                  <i class="icofont-phone"></i>
                </div>
                <div class="col"><p >+1 (608) 821 0287</p></div>
              </div>
              <i class="icofont-google-map"></i>
              <a href="https://www.google.com/maps/place/A+Shaving+Grace+Barber+Shop/@43.0569762,-89.5055749,17z/data=!3m1!4b1!4m5!3m4!1s0x8807afe4cc5c8a9b:0x53e6930949c1d468!8m2!3d43.0569762!4d-89.5055749?hl=en-US" target="_blank">Directions</a>
            </div>

          </div>
       </div>

       

      </div>
    </section>
    <!-- End Location Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list">

          <li data-aos="fade-up" data-aos-delay="100">
            <a data-toggle="collapse" class="" href="#faq1">Do I need an appointment?<i class="icofont-simple-up"></i></a>
            <div id="faq1" class="collapse show" data-parent=".faq-list">
              <p>
                No, we are walk in only.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <a data-toggle="collapse" href="#faq2" class="collapsed">Are you open on Sunday?<i class="icofont-simple-up"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
                Yes, we are open 7 days a week. But we stop taking clients 45 minutes before the closing hours of the Mall.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-toggle="collapse" href="#faq3" class="collapsed">Do you accept credit/debit card?<i class="icofont-simple-up"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
                Yes, we only accept Credit/Debit card payments. We do not accept Checks, CashApp, Zelle, Venmo, etc.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-toggle="collapse" href="#faq4" class="collapsed">What is considered kids age?<i class="icofont-simple-up"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
                Ages 1 year - 16 years old.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-toggle="collapse" href="#faq5" class="collapsed">What are the hours of operation?<i class="icofont-simple-up"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
                Our hours of operation are based on the opening and closing times of the Mall, this applies for holidays and special occasions.
              </p>
            </div>
          </li>
        </ul>

      </div>
    </section><!-- End F.A.Q Section -->

       <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Portfolio</h2>
          <p>What we've done</p>
        </div>

 
        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="static/img/styles/rs=w-1160,h-1547.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Cut 1</h4>
              <!-- <p>App</p> -->
              <a href="static/img/styles/rs=w-1160,h-1547.webp" data-gall="portfolioGallery" class="venobox preview-link" title="App 1">
                <i class="bx bx-zoom-in"></i>
              </a>
              <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

          

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="static/img/styles/3.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Cut 3</h4>
              <!-- <p>App</p> -->
              <a href="static/img/styles/3.webp" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-zoom-in"></i></a>
              <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="static/img/styles/4.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Cut 4 2</h4>
              <!-- <p>Card</p> -->
              <a href="static/img/styles/4.webp" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-zoom-in"></i></a>
              <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

          

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="static/img/styles/6.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Cut 5</h4>
              <!-- <p>App</p> -->
              <a href="static/img/styles/6.webp" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-zoom-in"></i></a>
              <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

          

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="static/img/styles/8.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Cut 7</h4>
              <!-- <p>Card</p> -->
              <a href="static/img/styles/8.webp" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-zoom-in"></i></a>
              <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="static/img/styles/9.webp" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Cut 8</h4>
              <!-- <p>Web</p> -->
              <a href="static/img/styles/9.webp" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-zoom-in"></i></a>
              <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->


     <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title" data-aos="zoom-out">
          <h2>Contact</h2>
          <p>Contact us</p>
          
        </div>

        <div class="row">

          <div class="col" data-aos="fade-right">

            <form id="contact-form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" id="from_name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="user_email" class="form-control" id="user_email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="user_subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" id="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="text-center"><button onclick="sendMail()" class="button" value="Send">Send Message</button></div>
            </form>

          </div>

        </div>
      </div>
    </section>
    <!-- End Contact Section -->

     
                

    </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">

      <a href="index.html"><img src="static/img/logo.png" alt="logo" class="my-5" height="100px"></a>


      <div class="social-links">
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <a href="https://www.facebook.com/Christianbarbersalon" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://instagram.com/ashavinggrace?igshid=YmMyMTA2M2Y=" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://maps.app.goo.gl/jzYqgFXZ7s7KvCL66?g_st=ic" target="_blank" class="google-plus"><i class="bx bxl-skype"></i></a>
        <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
      </div>
      <div class="copyright">


        &copy; Copyright <strong><span>AShavingGraceBarberShop</span></strong>. All Rights Reserved

      </div>
       <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>


  <!-- Start of LiveChat (www.livechat.com) code -->
<script>
    window.__lc = window.__lc || {};
    window.__lc.license = 14723673;
    ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[LiveChatWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.livechatinc.com/tracking.js",t.head.appendChild(n)}};!n.__lc.asyncInit&&e.init(),n.LiveChatWidget=n.LiveChatWidget||e}(window,document,[].slice))
</script>
<noscript><a href="https://www.livechat.com/chat-with/14723673/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechat.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
<!-- End of LiveChat code -->

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

  <script>
    const weekday = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"];
    const d = new Date();
    let day = weekday[d.getDay()-1];
    

    var table = document.getElementById("times");
    const child = table.children.item(0).children;

    for(x in child){
      var tr = child[x];
      var td = child[x].children.item(0).innerText;
      if(day === td){
        tr.style.color = "#f7080d";
      }
    }

  </script>



      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>